# webpack build files
webpack-static/

# django
db.sqlite3
local_settings.py
media/

# pycharm
.idea

# python
*.pyc
__pycache__/

# Node
node_modules/

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/